:root {
  --main-bg-color: rgb(213, 226, 240);
  --box-color: white;
  --font-color: #2c3e50;
}

body{
    background-color: var(--main-bg-color);
    font-family: cursive;
    text-align: center;
}

.box{
    background-color: var(--box-color);
    width: 100%;
    max-width: 334px;
    height: 520px;
    border-radius: 20px;
    box-shadow: 2px 10px 8px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    margin: auto;
    inset:0;
    padding: 1rem;
    box-sizing: border-box;
}

img{
    width: 100%;
    border-radius: 15px;
}

h2{
    text-align: center;
    color:var(--font-color);
}

p{
    color: var(--font-color);
}

@media (max-width:370px)
{
    .box{
        max-width: 304px;
    }
}
